BasedOnStyle: Google

ExperimentalAutoDetectBinPacking: true
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
